# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GameDesign_Game.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Meanmie_BU\Doc_BU\phase4\GDD\GameDesign\GameDesign_Game\.idea\.idea.GameDesign_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
